<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BinaryFileHandlingTool.Properties.Settings.BFHT_DBConnectionString"
            connectionString="Data Source=Omar-Jabr;Initial Catalog=&quot;BFHT DB&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BinaryFileHandlingTool.Properties.Settings.BFHTConnectionString"
            connectionString="Data Source=Omar-Jabr;Initial Catalog=BFHT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>